<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.covidapp">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>

    <application
        android:allowBackup="true"
        android:icon="@drawable/launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/CovidApp">
        <meta-data
            android:name="firebase_performance_logcat_enabled"
            android:value="true" />
        <meta-data android:name="firebase_performance_collection_enabled"
            android:value="false" />
        <meta-data android:name="firebase_performance_collection_deactivated"
            android:value="true" />

        <activity android:name=".ui.activity.PrecautionActivity" />
        <activity android:name=".ui.activity.SymptomsActivity" />


        <uses-library
            android:name="org.apache.http.legacy"
            android:required="false" />

        <activity android:name=".ui.activity.SplashScreen"
            android:theme="@style/splashScreenTheme"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".ui.activity.MainActivity"/>
    </application>

</manifest>